body{
    width: auto;
    height: auto;
    background-color: #EEEEEE;
    position: relative;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #EEEEEE;
}

li{
    list-style: none;
}

.container{
    width: 100%;
    right: 0px;
    margin: auto;
}

.logo{
    margin: 30px;
    width: 40%;
    left: 0px;
}

.navbar{
    width: 90%;
    margin: auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;
}



@media(max-width:1280px){
    .container{
        width: 100%;
        background-color: aqua;
    }
}

.title{
    height: 60px;
    width: auto;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

form{
    width: auto;
    height: 100px;
    /*background-color: aqua;*/
}

.email, .subButt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.submit{
    font-size: large;
    background:#FFA500;
}

.grid-template{
    display: flex;
    justify-content: center;
    justify-items: center;
}

section{
    display: grid;
    grid-template-columns: 100px 700px;
    grid-template-rows: repeat(3, 100px);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-areas: "imag1 sectext1"
                         "imag2 sectext2"
                         "imag3 sectext3";
}

.img1{
    grid-area: imag1;
    /*background-color: aqua;*/

}

.text1{
    grid-area: sectext1;
    /*background-color: aqua;*/
}

.img2{
    grid-area: imag2;
    /*background-color: aqua;*/
}

.text2{
    grid-area: sectext2;
    /*background-color: aqua;*/
}

.img3{
    grid-area: imag3;
    /*background-color: aqua;*/
}

.text3{
    grid-area: sectext3;
    /*background-color: aqua;*/
}

.text-head{
    font-size: 20px;
    margin-top: 5px;
   
}

.text-bod{
    margin-top: 0px;
    
}

.video-container{
    margin: 30px auto auto auto;
    width: 480px;
    height: 270px;
}



.prices-container{
    display: grid;
    grid-auto-flow: column;
    height: auto;
    width: 1100px;
    margin: 75px auto auto auto;
    grid-column-gap: 0px;
}

.box{
    display: grid;
    width: 300px;
    height: 300px;
    margin: 0 auto;   
    border: 3px solid #000000; 
    grid-template-columns: 300px;
    grid-template-rows: 70px 200px 40px; 
    grid-template-areas: "head-box"
                         "text-box"
                         "butt-box" ;
    row-gap: 0px;
}

.item1{
    grid-area: head-box;
    background-color: #DDDDDD;
    text-align: center;
    font-size: large;
}

.item2{
    grid-area: text-box;
    text-align: center;
    font-size: large;

}

.select{
    grid-area: butt-box;
    text-align: center;
}

.selectBut{
    background-color: #FFA500;
    width: 100px;
    height: 25px;
}

.footer{
    height: 75px;
    width: 1100px;
    background-color: #DDDDDD;
    margin: 50px auto;
}

.footer{
    text-align: right;
}











